/* variables */

:root {
    --light-blue: #BBDEFB;
    --blue: #64B5F6;
    --dark-blue: #2196F3;
    --black: #111;
    --dark-gray: #424242;
    --light-gray: #757575;

    --small-space: 0.5em;
    --space: 1em;
    --big-space: 1.5em;

    --radius: 4px;
}


/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 100% / 1.5 system-ui, sans-serif;
    display: flex;
    justify-content: center;
}

/* container */

.container {
    max-width: 80ch;
    width: 100%;
    padding: var(--space);
}

/* navigation */

a {
    color: var(--blue);
}

a:hover {
    color: var(--dark-blue);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
}

nav a {
    width: 100%;
    padding: var(--small-space);
    text-decoration: none;
    color: inherit;
    text-align: center;
    border-bottom: var(--small-space) solid var(--border-light);
}

nav a:hover {
    background: var(--light-blue);
    border-bottom: var(--small-space) solid var(--blue);
    font-weight: 700;
}

nav .current {
    border-bottom: var(--small-space) solid var(--light-gray);
    font-weight: 700;
}

/* contact */

form {
    display: grid;
    gap: var(--big-space);
    font: inherit;
}

label {
    display: grid;
    grid-template-columns: 8ch 1fr;
}

input,
textarea {
    width: 100%;
    padding: var(--small-space);
    font: inherit;
    border: 1px solid var(--light-gray);
    border-radius: var(--radius);
}

button {
    padding: var(--small-space) var(--big-space);
    font: inherit;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;

    transition: all 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: var(--dark-blue);
}

/* projects */

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: var(--space);
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: var(--space);
}

.projects article p span {
    font-weight: lighter;
}

/* pie chart */

.pie-chart {
    display: flex;
    align-items: center;
    gap: var(--big-space);
}

#projects-pie-plot {
    max-width: 20em;
}

.legend {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
    gap: 1em;
    border: 1px var(--light-gray) solid;
    border-radius: var(--radius);
    margin: 0;
    padding: 1em;
    flex: 1;
}

.legend li {
    list-style: none;
    white-space: nowrap;
}

.swatch {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
}

&:has(path:hover) {
    path:not(:hover) {
        opacity: 0.5;
    }
}

path {
    transition: 300ms;
    cursor: pointer;
}

path.selected {
    fill: oklch(60% 45% 0) !important;
}

.legend li.selected .swatch {
    background-color: oklch(60% 45% 0) !important;
}

/* search bar */

.searchBar {
    margin-top: 1em;
}

/* cv */

.cv {
    display: flex;
    flex-wrap: wrap;
    gap: var(--big-space);
}

.left,
.right {
    flex: 1 1 100%;
}

@media (min-width: 600px) {
    .left {
        flex: 2 1 0;
    }

    .right {
        flex: 3 1 0;
    }
}

em {
    font-weight: lighter;
}

/* media */

img {
    border-radius: var(--radius);
}

/* typography */

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

/* dark and light mode */

html {
    color-scheme: dark;
}

.color-scheme {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;

    display: flex;
    align-items: center;
    gap: var(--small-space);
}

.color-scheme select {
    border-radius: var(--radius);
    padding: 0.1em;
    font: inherit;
}

/* Github Stats */

dl {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--big-space);
}

dl>div {
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
}

dt {
    font-weight: lighter;
    font-size: 0.9em;
}

dd {
    font-size: 2.5em;
    margin: 0;
}

/* Meta stats */

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--big-space);
}

.stats>div {
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
}

.stats dt {
    font-weight: lighter;
    font-size: 0.9em;
}

.stats dd {
    font-size: 2.5em;
    margin: 0;
}

/* scatter plot */

.gridlines path,
.gridlines line {
    stroke: #ccc;
    stroke-opacity: 0.5;
}

/* scatter hover */

circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
}

circle:hover {
    transform: scale(1.5);
}

/* scatter tooltip */

dl.info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25em 1em;
    align-items: baseline;
}

dl.info dt {
    font-weight: normal;
    color: #666;
    margin: 0;
}

dl.info dd {
    font-weight: bold;
    margin: 0;
}

.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    padding: 0.8em 1em;
    font-size: 0.5em;
    pointer-events: none;
    z-index: 1000;
    transition-duration: 300ms;
    transition-property: opacity, visibility;
}

.tooltip[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}


dl.tooltip {
    padding: 0.5em;
}

/* selection box */

@keyframes marching-ants {
    to {
        stroke-dashoffset: -8;
    }
}

.selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
}

circle.selected {
    fill: #ff6b6b;
}

/* language breakdown */

#language-breakdown {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--big-space);
    text-align: center;
}

#language-breakdown dt {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

#language-breakdown dd {
    font-size: 1em;
}